
.listback{
    width: 100%;
    display: flex;
    flex-direction: row;   
    }


.list-wrapper2 {
   width: 100%;
   display: grid;
   grid-auto-columns: 272px;
   grid-auto-flow: column;
   grid-gap: 5px;
   overflow-y: scroll;
   padding: 15px;
}

.list1{   
    background-color: hsla(0,0%,100%,.24); 
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
   
       }

   .card-composer{
    max-height: 50px;
    max-width: 100%;
    margin-left: 20px;   
     }

     .card-comp {
        border-radius: 3px;
        color: #5e6c84;
        height: 100%;
        display: block;
        width: 90%;
        }

        .list2{
            background-color: #5c93fa;
            cursor: pointer;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
           }
        
            
           .card-composer1{
            height: 38px;
        width:100%;
        display: flex;
        justify-content: center;
        }
        
      
        
        .cardss{
       width: 95%;
        }
        .text3{
            margin: 5px;
        }
        
        .cardsitem1{        
            display: flex;
            flex-direction: row;
            justify-content:space-between ; 
                
        }
        .cards1{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px;   
        }
        
        .cards2{
            width: 92%;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(9,30,66,.25);
            cursor: pointer;
            min-height: 30px;
            padding: 5px;
        }

        .trshicon{
            float: right;
        }

.cardback{
    width:100%;
    display: flex;
    justify-content: center;
}

        .card-composer3{
            height: 400px;
        width:100%;
      
        }


        .cardsitem3{        
            display: flex;
            flex-direction: row;
            justify-content:space-around ; 
                
        }
        .cards3{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 10px;   
        }

        .cardsinput{
            margin: 20px;
        }

        .list-wrapper1{
         display: flex;
         justify-content: center;
        }

        
        .list3{
            background-color: #ebecf0;
            cursor: pointer;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
           }